.warp {
    margin: 0 auto;
    padding: 0;
    width: 1349px;
    min-height: 6000px;
    overflow: hidden;
}

.header-main {
    overflow: hidden;
    width: 100%;
    background: #fff;
    height: 89px;
    line-height: 89px;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.header-log {
    float: left;
    margin: 20px 25px 0 124px;
}

.header-nav {
    float: left;
    width: 600px;
    height: 90px;
    position: relative;
}

.header-nav li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 14px;
    color: #8A929F;
    cursor: pointer;
}

.header-nav li .iconfont {
    font-size: 16px;
    color: #bec5cf;
}

#header-seach {
    float: right;
    margin-right: 100px;
}

#header-seach .find {
    float: left;
    margin-top: 28px;
    width: 200px;
    height: 35px;
    border: 1px solid #E6E7EB;
}

#header-seach .find input {
    float: left;
    width: 50px;
    height: 30px;
    border: none;
    margin-left: 12px;
}

#header-seach .find i .iconfont {
    font-size: 24px;
    color: #bec5cf;
}

.find-img {
    float: left;
    width: 35px;
    height: 35px;
    margin: 25px 0 0 40px;
    border-radius: 50%;
}


/*二级菜单*/


/*一*/

.tanchuang {
    position: absolute;
    top: 88px;
    left: 150px;
    width: 920px;
    height: 280px;
    background: #fff;
    z-index: 999;
    border: 1px #CECECE solid;
    display: none;
}

.sanjiao {
    position: absolute;
    top: -11px;
    left: 269px;
    z-index: 999;
}

.list {
    width: 200px;
    background: #f4f4f4;
    text-align: center;
    padding-top: 20px;
    height: 260px;
}

.list>li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    width: 200px;
    color: #707070;
}

.list .actives {
    position: absolute;
    top: 0;
    left: 210px;
    width: 690px;
    height: 212px;
}

.list>li>ul {
    display: none;
}

.list>li .first-ul {
    display: block;
}

.actives li {
    float: left;
}

.actives li img {
    width: 210px;
    height: 132px;
    margin: 30px 10px 0 10px;
}

.actives li h4 {
    font-size: 12px;
    color: #333;
    width: 210px;
    margin: 0 auto;
    padding-top: 5px;
    line-height: 16px;
    text-align: left;
    font-weight: normal;
}

.tanchuang .aaa {
    background-color: #fff;
}


/*第二个*/

.tanchuang2 {
    width: 300px;
    height: auto;
    position: absolute;
    background: #fff;
    border: 1px #CECECE solid;
    display: none;
    top: 90px;
    left: 359px;
    z-index: 9999;
}

.sanjiao1 {
    position: absolute;
    top: -13px;
    left: 30px;
    padding-left: 100px;
}

.tan1 {
    width: 300px;
    height: 92px;
    border-bottom: 1px #E8ECF5 solid;
}

.tan1 .yanjing {
    display: block;
    background: url("../images/tan21.gif") no-repeat 27px 3px;
    font-size: 42px;
    color: #C5C5C5;
    height: 48px;
    margin-top: 20px;
    padding-left: 100px;
    vertical-align: middle;
}

.yanjing span {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
}

.yanjing small {
    display: block;
    font-size: 10px;
    letter-spacing: 5px;
    color: #C5C5C5;
    font-weight: bold;
}


/*第三个*/

.tanchuang3 {
    width: 200px;
    position: absolute;
    background: #fff;
    border: 1px #CECECE solid;
    top: 88px;
    left: 462px;
    z-index: 99999;
    display: none;
}

.sanjiao2 {
    position: absolute;
    top: -13px;
    left: -14px;
    padding-left: 100px;
}

.tanchuang3 ul li {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border-bottom: 1px #E8ECF5 solid;
}

.tanchuang3 ul li a {
    color: #707070;
    font-size: 14px;
    line-height: 40px;
}


/*第四个*/

.tanchuang4 {
    width: 200px;
    position: absolute;
    background: #fff;
    border: 1px #CECECE solid;
    top: 88px;
    left: 504px;
    z-index: 9999;
    display: none;
}

.sanjiao3 {
    position: absolute;
    top: -13px;
    left: -11px;
    padding-left: 100px;
}

.tanchuang4 ul li {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border-bottom: 1px #E8ECF5 solid;
}

.tanchuang4 ul li a {
    color: #707070;
    font-size: 14px;
    line-height: 40px;
}


/********图片部分************************/

.datuk {
    margin: 0 auto;
    width: 100%;
    height: 450px;
    margin-top: 89px;
}

.datu {
    position: relative;
    width: 1349px;
    height: 450px;
    // overflow:hidden;
}

.datu img {
    position: absolute;
    // bottom: -30px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 450px;
}

.opacity {
    width: 100%;
    height: 477px;
    position: absolute;
    // background: transparent;
    background: #333;
    left: 0;
    top: 13%;
    z-index: 1;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.jieshao {
    position: absolute;
    top: 230px;
    left: 48%;
    margin-left: -500px;
}

.jieshao p a {
    height: 30px;
    line-height: 30px;
    clear: both;
    text-align: center;
    font-size: 12px
}

.jieshao h1 {
    line-height: 70px;
    font-size: 32px;
    font-weight: normal;
    color: #fff;
}

.shijian {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #BBBABA;
}

// 主体部分
.main {
    width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
    height: 5142px;
    .main-l {
        float: left;
        width: 707px;
        padding-bottom: 65px;
        h3 {
            border: 1px solid #E1E4BB;
            background: #F1F5FA;
            padding: 15px;
            margin-bottom: 20px;
        }
        .tupianl {
            width: 707px;
            display: block;
            margin: 0 0 25px;
            position: relative;
            img {
                width: 707px;
                height: 522.2px;
            }
            .pinglun {
                position: absolute;
                bottom: 7px;
                width: 677px;
                height: 22px;
                background-color: rgba(0, 0, 0, 0.6);
                font-family: lucida;
                padding: 8px 15px;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 400;
                opacity: .8;
                z-index: 9;
                direction: rtl;
                a {
                    color: #fff;
                    margin-left: 10px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        p {
            width: 707px;
            font-size: 16px;
            padding-bottom: 10px;
            margin: 0 0 25px;
            line-height: 1.7;
            a {
                font-size: 16px;
                color: #2f2f2f;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .main-l-xx {
            width: 100%;
            height: 32px;
            padding-top: 15px;
            overflow: hidden;
            ul li {
                float: left;
                padding-right: 10px;
                padding-bottom: 10px;
                height: 32px;
                text-align: center;
                a {
                    display: block;
                    font-size: 12px;
                    padding: 0 12px;
                    height: 30px;
                    line-height: 30px;
                    color: #545454;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    &:hover {
                        background-color: #E8ECF5;
                    }
                }
            }
        }
    }
    .comments {
        width: 707px;
        min-height: auto;
        position: relative;
        margin-bottom: 65px;
        clear: both;
        h4 {
            height: 12px;
            line-height: 12px;
            background: url("../imagesshow/pic.png");
            margin-top: 40px;
            i {
                display: inline-block;
                padding: 0 8px;
                font-size: 12px;
                color: #8D95A2;
            }
        }
        p {
            display: inline-block;
            width: 30px;
            height: 45px;
            position: absolute;
            top: 7px;
            right: 0;
            background: url("../imagesshow/pinglun.png") no-repeat;
        }
        .user {
            width: 100%;
            height: 100px;
            padding-top: 27px;
            padding-bottom: 30px;
            border-bottom: 1px solid #EAEDF2;
            color: #333;
            img {
                float: left;
                border-radius: 50%;
            }
            a {
                font-size: 18px;
            }
            span {
                display: inline-block;
                font-size: 12px;
            }
        }
    }
}

.pinlun {
    padding-top: 38px;
    height: 30px;
    font-size: 18px;
    color: #333;
}

textarea {
    width: 702px;
    height: 114px;
}

.tijiao {
    margin-top: 15px;
    width: 707px;
    height: 34px;
    color: #fff;
    border-radius: 3px;
    background: #4385F5;
    text-align: center;
}

//推荐阅读
.tuijian {
    color: #fff;
    width: 1349px;
    height: 500px;
    //auto;
    padding-bottom: 20px;
    background-color: #F7F7F7;
    h2 {
        width: 1080px;
        height: 78px;
        line-height: 78px;
        color: #333;
        font-weight: bold;
        background: pink;
    }
    .tuijian-main {
        width: 1100px;
        overflow: hidden;
        li {
            width: 253px;
            float: left;
            margin: 0 10px;
            border: 1px solid #F2F2F2;
            // overflow: hidden;
            background-color: #fff;
            img {
                width: 253px;
                height: 159px;
            }
            h3 {
                width: 90%;
                margin: 0 auto;
                height: 72px;
                line-height: 24px;
                font-size: 16px;
                margin-top: 18px;
                color: #333;
            }
            h4 {
                width: 90%;
                margin: 0 auto;
                height: 40px;
                line-height: 30px;
                font-size: 12px;
                color: #bec5cf;
                background: pink;
                i {
                    display: inline-block;
                    padding: 0 2px 0 2px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

//右边栏
.main-r {
    width: 290px;
    height: 300px;
    float: right;
    background: red;
}
