.warp {
  width: 1349px;
  min-height: auto;
  list-style: none;
}

.xuanxiang {
  float: left;
  width: 200px;
  height: auto;
  background: url("../imagesuser/bg.png") left repeat-y;
}

.jiben {
  width: 200px;
  height: 1032px;
}

.jiben > a {
  display: inline-block;
  width: 100%;
  height: 90px;
  background: url("../imagesuser/logo.png") no-repeat center center;
}

.jiben p {
  width: 70%;
  max-width: 240px;
  line-height: 18px;
  margin: 0 auto;
  color: #787C84;
  font-size: 12px;
  padding-bottom: 15px;
}

.jiben h2 {
  width: 70%;
  margin: 0 auto;
  max-width: 240px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
}

.jiben .xinxi {
  padding-top: 5px;
  overflow: hidden;
  background: url("../imagesuser/1.jpg") no-repeat top;
}

.jiben .xinxi ul {
  margin-bottom: 10px;
}

.jiben .xinxi ul li {
  height: 30px;
  line-height: 30px;
}

.jiben .xinxi ul li a {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  width: 70%;
  max-width: 240px;
  margin: 0 auto;
  color: #707070;
}

.jiben .xinxi ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.jiben .tougao {
  width: 100%;
  height: auto;
}

.jiben .tougao h2 {
  width: 70%;
  margin: 0 auto;
  max-width: 240px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
}

.jiben .tougao h2 i {
  font-size: 14px;
  padding-left: 5px;
}

.jiben .tougao ul {
  width: 100%;
  background: url("../imagesuser/1.jpg") no-repeat top;
  padding-top: 10px;
}

.jiben .tougao ul li {
  height: 30px;
  line-height: 30px;
}

.jiben .tougao ul li a {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  width: 70%;
  max-width: 240px;
  margin: 0 auto;
  color: #707070;
}

.jiben .tougao ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.zhizhen {
  background: url("../imagesuser/2.jpg") no-repeat right;
}

.content {
  float: left;
}

.content .jibenpage {
  width: 585px;
  height: 812px;
  overflow: visible;
  float: left;
  padding-left: 50px;
  margin-top: 10px;
  background: #fff;
}

.content .jibenpage h1 {
  height: 20px;
  line-height: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  border-left: 2px solid #008AFF;
  padding-left: 10px;
}

.content .jibenpage h5 {
  height: 58px;
  line-height: 58px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.content .jibenpage .touxiang > img {
  float: left;
  width: 150px;
  margin-right: 50px;
}

.content .jibenpage .touxiang p {
  width: 380px;
  float: left;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #8b929f;
}

.content .jibenpage .touxiang input {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #333;
  background-color: #fff;
  border-color: #adadad;
}

.content .jibenpage .touxiang .inp1 {
  background: #4385f5;
  border-color: #4385f5;
  margin-right: 15px;
  color: #fff;
}

.content .jibenpage .touxiang .inp2:hover {
  background: #e6e6e6;
}

.content .jibenpage .touxiang .huantx {
  clear: both;
  padding-top: 20px;
  cursor: pointer;
  width: 113%;
  background: #fff;
  display: none;
}

.content .jibenpage .touxiang .huantx img {
  width: 60px;
}

.content .jibenpage .zhanghu {
  height: 58px;
  line-height: 58px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.content .jibenpage .zhanghu > h3 {
  width: 100px;
  height: 58px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}

.content .jibenpage .zhanghu .zhzhi {
  width: 420px;
  overflow: visible;
}

.content .jibenpage .zhanghu .zhzhi > p {
  display: block;
  font-family: inherit;
  width: 390px;
  height: 50px;
  font-size: 14px;
  padding-left: 28px;
  line-height: 50px;
  border: 1px solid #E1E5E8;
  border-radius: 5px;
  margin-bottom: 5px;
}

.content .jibenpage .zhanghu .zhzhi > p input {
  height: 46px;
  line-height: 50px;
  font-size: 14px;
  width: 65%;
  color: #333;
  border: 0;
  outline: none;
  margin-left: 10px;
}

.content .jibenpage .zhanghu .zhzhi .zhzhi > .wenben {
  font-size: 14px;
  width: 418px;
  height: 106px;
}

.content .jibenpage .zhanghu .zhzhi .zhzhi > .wenben span {
  display: block;
  width: 126px;
  float: left;
  height: 30px;
}

.content .jibenpage .zhanghu .zhzhi .zhzhi > .wenben textarea {
  float: right;
  width: 284px;
  height: 104px;
  line-height: 26px;
}

.content .jibenpage .zhanghu .zhzhi .danxuan > input {
  width: 30px;
  height: 15px;
  margin-left: 20px;
}

.content .jibenpage .zhanghu .zhzhi .xialak {
  width: 418px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #E1E5EB;
  border-radius: 5px;
  margin-bottom: 5px;
  clear: both;
}

.content .jibenpage .zhanghu .zhzhi .xialak span {
  margin-left: 29px;
  padding-right: 30px;
}

.content .jibenpage .zhanghu .zhzhi .xialak .xialak-wenzi {
  display: inline-block;
  max-width: 56px;
  margin-right: 1%;
  height: 19px;
  text-align: left;
  padding: 6px 12px;
  line-height: 1.428;
  position: relative;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
}

.content .jibenpage .zhanghu .zhzhi .xialak .xialak-wenzi input {
  width: 0;
  height: 0;
  background: red;
}

.content .jibenpage .zhanghu .zhzhi .tijiaok {
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #fff;
  background: #4385F5;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.tongxun {
  width: 585px;
  height: 812px;
  overflow: visible;
  float: left;
  padding-left: 50px;
  margin-top: 10px;
  display: none;
}

.tongxun h1 {
  height: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  border-left: 2px solid #008AFF;
  padding-left: 10px;
}

.tongxun .shuru {
  width: 420px;
  overflow: visible;
  width: 418px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #E1E5EB;
  border-radius: 6px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.tongxun .shuru span {
  margin-left: 20px;
}

.tongxun .shuru input {
  border: 0;
  outline: none;
  padding-left: 30px;
}

.tongxun .select {
  line-height: 50px;
}

.tongxun .select span {
  margin-bottom: 6px;
}

.tongxun .select .kuang {
  position: relative;
  margin: 9px -24px 0 29px;
  display: inline-block;
  width: 111px;
  height: 32px;
  border: 1px solid #aaa;
  background-color: #fff;
  line-height: 32px;
  text-align: center;
  color: #555;
  border-radius: 4px;
}

.tongxun .select .kuang span {
  margin-left: 0;
}

.tongxun .select .kuang .xiala {
  padding-left: 20px;
  font-size: 18px;
}

.tongxun .select .kuang .xuanx {
  position: absolute;
  top: 32px;
  left: 0;
  width: 230px;
  height: 242px;
  border: 1px solid #5897fb;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  display: none;
}

.tongxun .select .kuang .xuanx .xuanx_ss {
  width: 190px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
}

.tongxun .select .kuang .xuanx .xuanxk {
  width: 230px;
  height: 205px;
  overflow: hidden;
}

.tongxun .select .kuang .xuanx > ul {
  width: 230px;
  height: 230px;
  overflow: scroll;
}

.tongxun .select .kuang .xuanx > ul > li {
  width: 203px;
  height: 27px;
  text-align: left;
  padding-left: 10px;
  border-radius: 6px;
}

.xuanxk2 {
  width: 230px;
  height: 205px;
  overflow: hidden;
}

> ul {
  width: 230px;
  height: 230px;
  overflow: scroll;
}

> ul > li {
  width: 203px;
  height: 27px;
  text-align: left;
  padding-left: 10px;
  border-radius: 6px;
}

.baocun {
  margin-top: 25px;
  border: 0;
  width: 418px;
  height: 50px;
  line-height: 50px;
}

.baocun input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  background-color: #4385F5;
  cursor: pointer;
}

.xuanxk_color {
  background-color: #337AB7;
}
